# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/

# Django
*.sqlite3
*.log
db.sqlite3

.env

# Screenshots
screenshots/

# Playwright
playwright/.auth/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
